<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_2_5.xsd">



	<display-name>Servlet engine as a connector for a Restlet component</display-name>

	<servlet>
		<servlet-name>ContactoServerComponent</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.component</param-name>
			<param-value>org.restlet.contacto.ContactoServerComponent</param-value>
		</init-param>
	

<init-param>
 <param-name>org.restlet.clients</param-name>
 <param-value>HTTP FILE RIAP</param-value>
</init-param>

</servlet>

	<servlet-mapping>
		<servlet-name>ContactoServerComponent</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


<!-- [START Objectify] -->
    
<filter>
      
<filter-name>ObjectifyFilter</filter-name>
      
<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    
</filter>
    
<filter-mapping>
      
<filter-name>ObjectifyFilter</filter-name>
      
<url-pattern>/*</url-pattern>
    
</filter-mapping>
    
<listener>
      
<listener-class>org.restlet.contacto.webapi.common.OfyHelper</listener-class>
    
</listener>

<!-- [END Objectify] -->

</web-app>